.LoaderModal {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    outline: none;
    height: 100vh;
    backdrop-filter: blur(2px);
}

.Overlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    bottom: 0;
    left: 0;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    animation: show 0.2s;
    background: #25242440;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
}

.modal_overlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    bottom: 0;
    left: 0;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    animation: show 0.2s;
    background: #ffffff00;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
}

.modal_delete {
    -webkit-animation: show 0.2s;
    animation: show 0.2s;
    background-color: #fff;
    border-radius: 6px;
    display: block;
    height: auto;
    max-width: 79%;
    padding: 1em;
    text-align: center;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    width: 25%;
    box-shadow: 0px 2px 15px #00000012;
}

.modal_closeIcon {
    background: transparent;
    border: none;
    color: #55a8da;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.modal_confirmButton {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin: 22px 5px 5px;
    padding: 5px 20px;
    border: 1px solid #55A8DA;
    background: transparent;
    color: #55A8DA;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}

.modal_confirmButton:hover {
    transition: .5s ease-in-out;
    background: #55A8DA;
    color: #FFFFFF;
}

.modal_cancelButton {
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #55A8DA;
    text-align: center;
    margin: 22px 5px 5px;
    padding: 5px 20px;
    background: #55A8DA;
    color: #FFFFFF;
    border-radius: 5px;
}

.modal_cancelButton:hover {
    transition: .5s ease-in-out;
    border: 1px solid #55A8DA;
    background: transparent;
    color: #55A8DA;
}

@media (max-width: 768px) {
    .modal_delete {
        width: 75%;
    }
}